h1 {
text-align: center;
font-family: courier;
color: black;
font-size: 200%
}



.center {
background-color:red;
    color:white;
  text-align: center;
width: 500px;
margin: auto;
padding: 10px; 
border-radius: 25px;

}

.buttonCenter{
margin: auto;
font-size: 200%
}

.large{
font-size: 150%

}